* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: url("./screen.png");
  background-size: cover;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  position: relative;
}

h1,
h2,
li,
strong,
a {
  font-family: "Oswald", sans-serif;
  color: #ffffff;
}

h1,
h2 {
  background: rgba(0, 0, 0, 0.1);
  padding: 12px;
  border-radius: 9px;
}

a {
  text-decoration: none;
}

a:hover {
  border-bottom: 1px solid #fefe0d;
  transition: 0.3s;
}

strong {
  color: #fefe0d;
}

#container {
  width: 100%;
  max-width: 920px;
  margin: 0 auto;
  padding: 160px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  text-align: center;
}

.title > p {
  margin-top: 6px;
}

#conteudo {
  display: flex;
  flex-direction: column;
  margin: 40px 0;
}

.projects-list {
  width: 100%;
  max-width: 320px;
  height: 200px;
  overflow-y: auto;
  margin-bottom: 26px;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}

ul.projects-list {
  gap: 12px;
  font-size: 14px;
}

ul.links {
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  margin: 30px 0;
  border-radius: 9px;
}

footer {
  text-align: center;
  font-size: 14px;
  position: absolute;
  bottom: 60px;
}
