* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: url("./screen.png");
  background-size: cover;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
}

h1,
h2,
li,
strong,
a {
  font-family: "Oswald", sans-serif;
  color: #ffffff;
}

a {
  text-decoration: none;
}

a:hover {
  border-bottom: 1px solid #fefe0d;
  transition: 0.3s;
}

strong {
  color: #fefe0d;
}

#container {
  width: 100%;
  max-width: 920px;
  margin: 0 auto;
  padding: 160px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#container .title {
  text-align: center;
}

#container .title > p {
  margin-top: 6px;
}

#container .projects-list {
  width: 100%;
  max-width: 320px;
  height: 200px;
  overflow-y: auto;
  margin-bottom: 26px;
}

#container ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}

#container ul.projects-list {
  gap: 12px;
  font-size: 14px;
  margin-top: 40px;
}

#container ul.links {
  flex-direction: row;
  gap: 20px;
  margin: 12px 0;
}

footer {
  text-align: center;
  font-size: 14px;
}
